.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    justify-content: center;
    row-gap: 24px;
    column-gap: 24px;
}

.gallery-image{
    width: 360px;
    height: 300px;
}
.modal-image{
    width: 1112px;
    height: 640px;
}
